/* LDoc stylesheet, by Nils Nordman <nino at nordman.org>. */

body {
  padding: 2em 1em 2em 1em;
  margin: 0;
  background-color: #3D3D3D;
  width: 100%;
  font-size: small;
}

a:link { text-decoration: none; }

#navigation {
  float: left;
  width: 20%;
  border-radius: 15px;
  -moz-border-radius: 15px;

  background-color: navy;
  font-family: Arial Bold,Gadget,sans-serif;
  color: lightgray;
  vertical-align: top;
  color: goldenrod;
  border: 1px solid #2d2d2d;
}

#navigation h1 {
  font-size: 1.4em;
  padding-left:  1em;
  color: lightgray;
  margin-top: 0;
}

#navigation h2 {
  background-color: #0000b0;
  font-size: 1.2em;
  padding: 0.3em;
}

#navigation ul {
  list-style: none;
  padding: 0;
  margin-left: 1em;
}

#navigation li {
  padding: 0.3em;
}

#navigation a {
  font-weight: bold;
  color: lightblue;
  padding: 0.3em;
}

#navigation a:hover {
  background-color: #2D2D2D;
  border-radius: 5px;
}

#content {
  background-color: white;
  margin-left: 25%;
  width: 65%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 1em;
  box-shadow: 5px 5px 5px black;
  font-size: 1.2em;
  overflow: visible;
}

#content a { font-weight: bold; color: navy; }
#content a:hover { text-decoration: underline; }
#content h1 { margin-top: 0; }

#content h2 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 5px;
  background-color: lightgrey;
}

#content dt { padding: 1em; }
#content td { border-bottom: 1px dotted lightgray; }
#content pre { font-size: 1.1em; }

#about { text-align: center; margin-top: 1em; }
#about a { color: darkgray; }

/* ze code */
.keyword {font-weight: bold; color: #004d00; }
.number  { color: red; }
.string  { color: navy; }
.comment { color:  #00002d; font-style: italic; }
.prepro { color: darkred; }
.global { font-weight: bold; color: #00002d; }
