body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fdf6e3;
  font-family: Arial Bold, Gadget, sans-serif;
}

img { border: 0; }
a:link { text-decoration: none; color: #b58900; }
a:visited { text-decoration: none; color: #b58900; }
a:hover { color:  #cb4b16; text-decoration: underline; }
a:active { color: #cb4b16; }

li {
  padding: 5px;
}

.header {
  background-color: #fdf6e3;
  padding: 10px;
  vertical-align: top;
  padding: 0 0 0 1em;
}

.header .title {
  color: #b58900;
  margin: 0;
  font-size: 4em;
  font-family: 'Bowlby One SC';
}

.nav {
  border-top: 1px solid #93a1a1;
  border-bottom: 1px solid #93a1a1;
  background-color: #eee8d5;
  padding: 5px;
}

.nav a {
  color: #839496;
  font-weight: bold;
  font-size: larger;
  padding: 5px;
}

.nav ul {
  display: inline;
  padding: 0;
}

.nav ul li { display: inline; list-style: none; padding-right: 5px; }

.container {
  -moz-box-shadow: 0 0 5px #93a1a1;
  -webkit-box-shadow: 0 0 5px#93a1a1;
  box-shadow: 0 0 5px #93a1a1;
  border: 1px solid #93a1a1;
  max-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  background-color: #fdf6e3;
  padding-top: 5px;
  font-size: normal;
  color: #073642;
}
.main p, h3 {
  padding: 0 20px 0 20px;
}

.main h2 {
  margin: 30px 0 20px 0;
  padding: 10px 20px 10px 20px;
  font-size: larger;
  font-weight: bold;
  background-color: #eee8d5;
  border-top: 1px solid #93a1a1;
  border-bottom: 1px solid #93a1a1;
}

.main pre {
  background-color: #eee8d5;
  color: #586e75;
  font-size: large;
  margin: 0 20px 0 20px;
  padding: 10px 20px 10px 20px;
}


/* GitHub CSS ribbon from
http://codepo8.github.com/css-fork-on-github-ribbon/ */
#forkongithub{
  position:absolute;
  display:block;
  top:0;
  right:0;
  width:200px;
  overflow:hidden;
  height:200px;
}

#forkongithub a{
  background: #cb4b16;
  color: #fdf6e3;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
  width:200px;
  position:absolute;
  top:60px;
  right:-60px;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  box-shadow:4px 4px 10px #93a1a1;;
}


#forkongithub a:hover{
  background: #b58900;
  color: #eee8d5;
}

#forkongithub a::before,
#forkongithub a::after{
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after{
  bottom:1px;
  top:auto;
}

@media screen and (max-width:800px){
  #forkongithub{
    display: none;
  }
}
